<head>
    <meta charset="UTF-8"/>
    <link href="/static/tfa/js/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/tfa/js/select2-4.0.3/css/select2.min.css" rel="stylesheet">
    <style type="text/css">
        table {
            border-style: solid;
        }
        tr {
            border-style: solid;
        }
    </style>
</head>
<body>
    <div class="container">
    <form id="myForm" method="post" action="">
        <div class="row">
            <div class="col-sm-1">Title</div><div class="col-sm-4">{{form.title}}</div>
        </div>
        <!--
        <div id="formset-template" style="display: none;">
            <div class="row creator_form">
                <div class="col-sm-1">Role</div><div class="col-sm-4">{{ creator_formset.empty_form.role }}</div>
                <div class="col-sm-1">Person</div><div class="col-sm-4">{{ creator_formset.empty_form.person }}</div>
            </div>
        </div>
        -->
        {% for f in creator_formset.forms %}
            <div class="row creator_form">
                <div class="col-sm-1">Role</div><div class="col-sm-4">{{f.role}}</div>
                <div class="col-sm-1">Person</div><div class="col-sm-4">{{f.person}}</div>
            </div>
        {% endfor %}
        {{creator_formset.management_form}}
    </form>
    </div>
    <script src="/static/tfa/js/jquery-3.1.1.min.js" type="text/javascript" > </script>
    <script src="/static/tfa/js/select2-4.0.3/js/select2.js" type="text/javascript" > </script>
    <script src="/static/tfa/js/jquery.formset.js" type="text/javascript" > </script>
    <script src="/static/tfa/js/bootstrap-3.3.7/js/bootstrap.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        // How to make formsets and select2 to play nicely together:
        // 1) We need to get a clone of a form without any select2 magic
        // and pass it as formTemplate. This is the form that will be copied 
        // when we add another form. 
        // 2) When a new form has been added, we enable select2 on its select fields.
        $('.creator_form').formset(
            {
                formTemplate: $('.creator_form').first().clone(),
                prefix: '{{ creator_formset.prefix }}',
                added: function(row) {
                            row.find('select').select2();
                       },
            }
        );
        // 3) Enable select2 on all existing forms. It is important that this happens 
        // after the call to formset, because it we need to get our template before.
        $('select').select2();
    </script>
</body>
<!--
  vim: tw=132
  -->
